prune examples
prune tests
include LICENSE
include Makefile
global-exclude */.svn/*
global-exclude */.idea/*
global-exclude *.class
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.coverage
global-exclude *.iml
global-exclude .git
global-exclude .gitignore
global-exclude .tox
global-exclude __pycache__
global-exclude generate_kotlinsource.py
global-exclude build_ffi_module-staticlib.py
